/* ProfilePage.css */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-profile-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.employee-info {
  display: flex;
  align-items: center;
}

.employee-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.arrow-icon {
  font-size: 24px;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.left-side {
  flex: 1;
  padding-right: 20px;
}

.right-side {
  flex: 2;
  border: 1px solid #ccc;
  padding: 20px;
}

/* ProfilePage.css */

/* ... (existing styles) ... */

.form {
  display: none;
  padding: 20px;
  text-align: center; /* Center form content */
}

.form.active {
  display: block;
}

.form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form select,
.form textarea {
  cursor: pointer;
}

.form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

/* Adjusted styles for "Request Sick Leave" form */
.form .employee-info {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
}

.form .employee-info label {
  width: 48%;
}

.form .date-range {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
}

.form .date-range label {
  width: 48%;
}

