/* ------------------ */
/* PROFILE PAGE STYLES */
/* ------------------ */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header-profile-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.employee-info {
  display: flex;
  align-items: center;
}

.employee-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.arrow-icon {
  font-size: 24px;
}

.content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.left-side {
  display: flex;
  flex-direction: column;  /* This makes sure that the children are stacked vertically */
  align-items: flex-start; /* Aligns the buttons to the left side */
  gap: 10px;               /* Space between buttons */
  max-width: 200px;  /* Adjust this as per your requirement */
  overflow: hidden;

}


.right-side { 
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
}

/* ------------------ */
/* COMMON FORM STYLES  */
/* ------------------ */

.form {
  padding: 20px;
  text-align: center; 
}

.form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form select,
.form textarea {
  cursor: pointer;
}

.form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

/* ------------------------ */
/* SICK LEAVE FORM SPECIFIC */
/* ------------------------ */

.sick-leave-form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.sick-leave-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sick-leave-form form {
  display: grid;
  gap: 15px; /* Spacing between form elements */
}

.sick-leave-form .employee-info-form,
.sick-leave-form .date-range {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide into two equal columns */
  gap: 15px; /* Spacing between columns */
}

.sick-leave-form label {
  display: flex;
  flex-direction: column;
}

.sick-leave-form input,
.sick-leave-form select,
.sick-leave-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sick-leave-form button {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.sick-leave-form button:hover {
  background-color: #0056b3;
}

