/* Basic resets for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-profile-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.employee-info {
  display: flex;
  align-items: center;
}

.employee-image img {
  border-radius: 50%; /* Circle shape */
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.employee-details h1 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.employee-details p {
  color: white;
}

.arrow-icon {
  font-size: 24px;
  margin-right: 10px;
}

.content {
  display: flex;
  margin-top: 30px;
}

.left-side {
  flex: 1;
  padding-right: 30px;
}

.right-side {
  flex: 2;
  padding-left: 30px;
}

button {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

/* If there are more specific styles for your forms or other elements, you can add them below. */
