
.cart-container {
  display: block; /* Change from flex to block */
  width: 100%;
  text-align: left; /* Explicitly set text alignment to left */
}


.cart-item {
  display: block; /* Change from flex to block */
  width: 100%; /* Ensure the item takes the full width of the container */
}


ul {
    list-style-type: none;
    padding: 0;
    justify-content: flex-start;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: block; /* Change from flex to block */
  text-align: left; /* Explicitly set text alignment to left */
  max-width: 600px; /* or whatever width you prefer */
  margin: 10px auto; /* centers the item horizontally */
  color: white;
  gap: 10px; 
  align-items: center; /* vertically aligns items in the center */

}


li img {
    max-width: 50px;
    border-radius: 5px;
}

.back-button {
    position: fixed;  /* Fixed position */
    top: 10px;  /* Top right corner */
    right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}

.arrow-icon {
    vertical-align: middle;
    margin-right: 5px;
}
