/* General styles */
body {
  font-family: Arial, sans-serif;
}

.cart-container {
  max-width: 600px;
  padding: 20px;
  position: relative;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.cart-container ul {
  list-style-type: none;
  padding: 0;
}

/* Back button */
.back-button {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 14px;
}

li {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 20px;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
}
.product-details span {
  margin-bottom: 10px; /* This will give space between each span element */
}
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; /* Add more space between the name and other details */
}

.product-price,
.available-quantity {
    font-size: 16px;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Add some space between the details and the controls */
}

.quantity-controls button,
.quantity-controls input {
  height: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
}

.quantity-controls button {
  cursor: pointer;
  font-size: 16px;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
}
