.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.product-image-container {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Keep the aspect ratio while fitting the image within the container */
  border-radius: 5px;
}

.product-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details h1 {
  margin-bottom: 10px;
}

.product-details p {
  margin: 5px;
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* Add your existing CSS styles here */

.back-button-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999; /* Ensure the button is on top of other elements */

}

.back-link {
  text-decoration: none;
  color: inherit;
}

.back-button {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.arrow-icon {
  margin-right: 5px; /* Adjust the spacing between icon and text */
}

.back-button:hover {
  background-color: darkblue;
}


