
.stock-order-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.items-container > div {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.items-container img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.items-container h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none; /* Removes the underline */
}

.items-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.items-container button:hover {
    background-color: #0056b3;
}

.cart-container-stock {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  font-size: 2rem;
  color: #007bff;
}

.cart-count {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1;
}