
.stock-order-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-content {
  display: flex;
  justify-content: space-between;
}

.items-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-content: flex-start; /* ensures that items are aligned to the top */
  margin-left: 20px; /* give a space between the categories and items */
}

.items-container > div {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: center; /* center children horizontally */
  width: 200px; /* width of each product card */
  border: 1px solid #ccc; /* border for each product */
  padding: 10px; /* some padding inside the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional shadow for a lifted appearance */
  border-radius: 5px; /* rounded corners */
}

.items-container img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.items-container h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none; /* Removes the underline */
}

.items-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.items-container button:hover {
    background-color: #0056b3;
}

.cart-container-stock {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  font-size: 2rem;
  color: #007bff;
}

.cart-count {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1;
}

.quantity-input-container label{
  color: white;
}

.category-filter {
  width: 150px; /* Adjust based on your needs */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 500px; /* Adjust based on your needs */
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.category-filter button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-filter button:hover {
  background-color: #ddd;
}

.category-filter .active {
  background-color: #007bff;
  color: white;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
