/* src/styles.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}


