:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --app-background-color: white;
  --form-background-color: #f2f2f2; /* Example color for form backgrounds */

}

body {
  background-color: var(--app-background-color);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #007bff;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkblue;
}
.back-to-home-button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-to-home-button:hover {
  background-color: #0056b3;
}
/* Add this style to align the icon and text vertically */
.back-to-home-button .home-icon {
  vertical-align: middle;
  margin-right: 5px; /* Adjust as needed */
}

.employee-profile-form {
  width: 800px; /* Takes up 90% of its container's width */
  max-width: 1000px; /* Caps the width for larger screens */
  margin: 20px auto; /* Centers the form and adds vertical spacing */
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  .employee-profile-form {
      width: 100%; /* Takes up full width on smaller screens */
      padding: 15px;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
